<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/login" method="post" enctype="application/x-www-form-urlencoded">
        <input name="emL" type="text" placeholder="enter your email......"><br>
        <input name="pswL" type="password" placeholder="enter your password......"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>